{% extends 'RoomManager/base.html' %}

{% load static %}

{% block content %}
    <style>
        .content {
            display: grid;
            justify-content: center;
            align-items: center;
        }

        .welcome {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
            background-image: url("{% static 'RoomManager/students.png' %}");
            background-size: cover;
            background-position: center;
        }

        .welcome h1 {
            color: #5e72e4;
            font-size: 130px;
            margin: 50px;
            text-align: center;
        }

        .welcome .hi {
            color: #ffffff;
        }

        .welcome img {
            height: 110px;
        }

        .rectangles {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .rectangles h2 {
            font-size: 90px;
            text-align: center;
        }

        .rectangles p {
            text-align: center;
            font-size: 35px;
            margin: 50px;
        }

        .right-rectangle,
        .left-rectangle {
            height: 30vh;
            flex-basis: 48%;
            padding: 50px;
            margin: 20px 20px;
            background-color: #f5f5f5;
            border-radius: 20px;
            color: #0a0d21;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }

        .right-rectangle {
            background-color: #5e72e4;
        }

        .left-rectangle {
            background-color: #2958d4;
        }

        h1 {
            color: #5e72e4;
            font-size: 60px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .content ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .content li {
            display: flex;
            flex-direction: column;
            padding: 20px 30px 20px 30px;
            margin: 0px 10px 20px 10px;
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        }
    </style>
    <div class="welcome">
        <h1>Say <span class="hi">'Hi!'</span> to <img src="{% static 'RoomManager/RoomMate_textlogo.png' %}">, your new best way to success</h1>
    </div>
    <div class="rectangles">
        <div class="left-rectangle">
            <h2>The idea</h2>
        </div>
        <div class="right-rectangle">
            <p>We wanted to build the best tool to quickly help students find some space to study properly, and even more.</p>
        </div>
    </div>
    <div class="rectangles">
        <div class="right-rectangle">
            <p>In a click, you can book the room you want to have space for work across every Dauphine building.</p>
        </div>
        <div class="left-rectangle">
            <h2>Booking</h2>
        </div>
    </div>
    <div class="rectangles">
        <div class="left-rectangle">
            <h2>Teamwork</h2>
        </div>
        <div class="right-rectangle">
            <p>You want to work with your mates? Invite them to your booking or send a request to join another user session.</p>
        </div>
    </div>
    <div class="rectangles">
        <div class="right-rectangle">
            <p>Customize your own dashboard to feel at home, track your progression and break records.</p>
        </div>
        <div class="left-rectangle">
            <h2>And more !</h2>
        </div>
    </div>
    <h1>Room list:</h1>
    <ul>
        {% for room in rooms %}
            <li>
                <div><strong>{{ room.name }}</strong></div>
                <div>Seats : {{ room.capacity }}</div>
                <div>Wing : {{ room.wing }}</div>
                <div>Floor : {{ room.floor }}</div>
                <div>No : {{ room.number }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}