{% extends 'RoomManager/base.html' %}

{% block content %}
    <style>
        .content {
            display: grid;
            justify-content: center;
            align-items: center;
            height: 92vh;
        }

        h1 {
            color: #5e72e4;
            font-size: 28px;
            margin: 50px;
            text-align: center;
        }

        img {
            height: 32px;
        }

        h2 {
            text-align: center;
        }

        p {
            margin: 50px;
        }
    </style>
    <h1>Liste des salles :</h1>
    <ul>
        {% for room in rooms %}
            <li>{{ room.name }}</li>
        {% endfor %}
    </ul>
    <h1>Welcome to <img src="../../static/RoomManager/RoomMate_textlogo.png">, your new tool to find and book working rooms with your mates !</h1>
    <h2>The idea</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt earum enim architecto eius nostrum minima eaque. Placeat possimus quis nostrum ducimus totam neque dicta alias, molestias quisquam? Totam, voluptas!</p>
    <h2>Book your room...</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt earum enim architecto eius nostrum minima eaque. Placeat possimus quis nostrum ducimus totam neque dicta alias, molestias quisquam? Totam, voluptas!</p>
    <h2>...and invite your mates</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt earum enim architecto eius nostrum minima eaque. Placeat possimus quis nostrum ducimus totam neque dicta alias, molestias quisquam? Totam, voluptas!</p>



{% endblock %}