{% extends 'RoomManager/base.html' %}

{% block content %}
  <style>
    .content {
      display: block;
      justify-content: center;
      align-items: center;
      height: 92vh;
    }

    body {
      background-color: #f7f7f7;
    }

    .header {
      display: flex;
    }

    .header h1 {
      margin-right: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 10px 30px 25px 30px;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
      margin: 20px;
    }

    h1 {
      color: #5e72e4;
      font-size: 28px;
      margin-bottom: 25px;
      text-align: center;
    }

    input[type="text"], input[type="password"] {
      border: 1px solid #5e72e4;
      border-radius: 5px;
      font-size: 16px;
      padding: 15px 20px;
      margin-bottom: 20px;
      width: 100%;
      box-sizing: border-box;
    }

    button[type="submit"] {
      background-color: #5e72e4;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-top: 5px;
      padding: 15px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
      background-color: #825ee4;
    }
  </style>

  <div class="header">
    <h1>Welcome {{ user.get_username }} !</h1>
    <form method="POST" action="{% url 'logout' %}">
      <h1>It's a goodbye ?</h1>
      {% csrf_token %}
      <button type="submit">Log out</button>
    </form>
  </div>

  {% if user.is_superuser %}
  <h2>Administrator stuff :</h2>
  <form method="get" action="{% url 'create_room' %}">
    <h1>Create new rooms</h1>
    {% csrf_token %}
    <button type="submit">Go to room creation</button>
  </form>
  {% endif %}

  <h2>Your Events:</h2>
<ul>
  {% for event in user.event_set.all %}
    <li>
      {{ event.room }} - {{ event.date }} - {{ event.start_time|date:"h:iA" }} to {{ event.end_time|date:"h:iA" }}
    </li>
  {% empty %}
    <li>No events found.</li>
  {% endfor %}
</ul>
{% endblock %}